<div class="layout-topbar">

    <p-confirmDialog></p-confirmDialog>
        
        <img width="120" height="45" src="assets/layout/images/{{layoutService.config().colorScheme === 'light' ? 'logo' : 'logo'}}.png"
            alt="logo">

        <!-- <span>Human Resources</span> -->
    

        <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
            <i class="pi pi-bars"></i>
        </button>
   

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button"
        (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu"
        [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">

        <button #themeToggleButton class="p-link layout-menu-button layout-topbar-button" (click)="toggleTheme()">
            <i class="pi" [ngClass]="layoutService.config().colorScheme === 'light' ? 'pi-moon' : 'pi-sun'"></i>
            <span>{{ layoutService.config().colorScheme === 'light' ? 'Dark Mode' : 'Light Mode' }}</span>
        </button>

        <button class="p-link layout-topbar-button logout-btn" (click)="confirmLogout()">
            <i class="pi pi-sign-out"></i>
            <span>Logout</span>
        </button>
    </div>
</div>